<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="mysql_qlcafe" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=qlcafe;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>